{% extends 'website/base.html' %}
{% load static %}
{% block title %} About Us - Bim Connect {% endblock %}
{% block content %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">ABOUT US</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>ABOUT US</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--About Page Area Start-->
<div class="about-page-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Who we are</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    <h3>{{aboutus.title1}}</h3>
                    <p>{{aboutus.description1|safe}}</p>  
                    <h3>{{aboutus.mission_title}}</h3>
                    <p>{{aboutus.mission_description|safe}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-image">
                    {% if aboutus.image %}
                    <img src="{{aboutus.image.url}}" alt="" width="3650px" height="2681px">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of About Page Area-->

{% endblock %}