{% extends 'website/base.html' %}
{% load static %}
{% block title %} Courses - Bim Connect {% endblock %}
{% block content %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Courses</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<div class="search-category">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="#" method="post">
                    <div class="form-container">
                        <div class="box-select">
                            <div class="select large">
                                <select name="category">
                                    <option>All Categories</option>
                                    <option>Web Design</option>
                                    <option>Designing</option>
                                    <option>Development</option>
                                    <option>Programming</option>
                                    <option>Developing</option>
                                </select>
                            </div>
                            <div class="select small">
                                <select name="date">
                                    <option>Price</option>
                                    <option>$10000</option>
                                    <option>$35000</option>
                                    <option>$67000</option>
                                    <option>$82000</option>
                                    <option>$95000</option>
                                </select>
                            </div>
                            <div class="select medium">
                                <select name="date">
                                    <option>Course Type</option>
                                    <option>Web Design</option>
                                    <option>Designing</option>
                                    <option>Development</option>
                                    <option>Programming</option>
                                    <option>Developing</option>
                                </select>
                            </div>
                        </div>
                        <button type="button">Search Course</button>
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>
<!--Course Area Start-->
<div class="course-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>OUR COURSES</h3>
                        <p>There are many types of Courses</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in all_edu %}
            <div class="col-md-4 col-sm-6">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="#">
                            {% if i.image %}
                            <img src="{{i.image.url}}" alt="" width="300px" height="211px">
                            {% endif %}
                        </a>
                    </div>
                    <div class="single-item-text">
                        <h4><a href="#">{{i.title}}</a></h4>
                        <div class="single-item-text-info">
                            <span>By: <span>{{i.teacher}}</span></span>
                            <span>Subject: <span>{{i.subject}}</span></span>
                        </div>
                        <p>{{i.description|safe|slice:"100"}}...</p>
                        <div class="single-item-content">
                            
                        </div>   
                    </div>
                    <div class="button-bottom">
                        <a href="#" class="button-default">Learn Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--End of Course Area-->

{% endblock %}