{% extends 'home/base.html' %}
{% block title %} Bhim Connect - Blog {% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="inner-header divider parallax layer-overlay overlay-dark-6" 
data-bg-img="{% static 'website_assets/images/bg/size.jpg' %}">
    <div class="container pt-0 pb-0">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="font-28 text-white">Blog</h2>
            <ol class="breadcrumb text-center text-black mt-10">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li class="active text-theme-colored">Blog</li>
            </ol>
          </div>
        </div>
      </div>
    </div>      
  </section>

<section>
  <div class="container">
    <div class="row multi-row-clearfix">
      <div class="blog-posts">
        {% for data in result %}
        <div class="col-md-3">
          <article class="post clearfix mb-30 bg-lighter">
            <div class="entry-header">
              <div class="post-thumb thumb"> 
                <a href="{% url 'blogsingle' data.id %}">
                  {% if data.image %}
                  <img src="{{data.image.url}}" alt="" class="img-responsive" width="400pt" height="200pt"> 
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="entry-content p-20 pr-10">
              <div class="entry-meta media mt-0 no-bg no-border">
                <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                  <span class="font-13 text-white font-weight-600">{{data.blog_date}}</span>
                </div>
                <div class="media-body pl-15">
                  <div class="event-content pull-left flip">
                    <h4 class="entry-title text-white m-0 mt-5"><a href="{% url 'blogsingle' data.id %}">{{data.title}}</a></h4>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-10">{{data.description|safe}}</p> -->
              <a href="{% url 'blogsingle' data.id %}" class="btn-read-more">Read more</a>
              <div class="clearfix"></div>
            </div>
          </article>
        </div>
        {% endfor %}
        <div class="col-md-12">
          <nav>
              <ul class="pagination theme-colored">
                {% if result.has_previous %}
                <li class="page-item">
                    <a class="page-link" aria-label="Previous"
                    href="?page={{ result.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous"
                    href="#">&laquo;</a>
                </li>
                {% endif %}
                {% for i in result.paginator.page_range %}
                {% if result.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if result.has_next %}
                <li class="page-item">
                    <a class="page-link" aria-label="Next"
                    href="?page={{ result.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="Next"
                    href="#">&raquo;</a>
                </li>
                {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}