{% extends 'home/base.html' %}
{% block title %} Bhim Connect - Education Category {% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" 
data-bg-img="{% static 'website_assets/images/bg/bg.jpg' %}">
  <div class="container pt-100 pb-50">
    <!-- Section Content -->
    <div class="section-content pt-100">
      <div class="row"> 
        <div class="col-md-12">
          <h3 class="title text-white">Education Category</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="margin-top: 15pt; padding: 10pt;">
    <div class="row mt-5 p-4">
      {% for ec in education_all_cat %}
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel panel-warning text-theme-colored text-center">
          <div class="panel-heading">
            <span class="font-20 font-weight-600">Education Category</span>
          </div>
          <div class="panel-body">
            <span class="glyphicon glyphicon-cog pull-left font-30"></span>
            <span class="font-15 font-weight-600">{{ec.category_name}}</span>
          </div>
          <div class="panel-footer">
            <a href="{% url 'edusubcatview' ec.id %}" class="font-15 font-weight-600 text-theme-colored">
              Explore More&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</section>

{% endblock %}