{% extends 'home/base.html' %}
{% block title %} Bhim Connect - Blog {% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="inner-header divider parallax layer-overlay overlay-dark-6" 
data-bg-img="{% static 'website_assets/images/bg/size.jpg' %}">
    <div class="container pt-0 pb-0">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="font-28 text-white">Privacy & Policy</h2>
            <ol class="breadcrumb text-center text-black mt-10">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li class="active text-theme-colored">Privacy & Policy</li>
            </ol>
          </div>
        </div>
      </div>
    </div>      
  </section>

<section>
    <h3 class="text-center"><u>{{pp_content.title}}</u></h3>
    <div class="container">
        <div>{{pp_content.descriptions|safe}}</div>
    </div>
</section>

<div class="container">
    
</div>

{% endblock %}