api/migrations/
api/__pycache__/
home/migrations/
home/__pycache__/
home/middlewares/__pycache__/
myadmin/migrations/
myadmin/__pycache__/
bhimbakend/migrations/
bhimbakend/__pycache__/
website/migrations/
website/__pycache__/
media/
env/
.vscode/
*.pyc