{% extends 'myadmin/layout.html' %}
{% block title %} Admin - Education {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Education</h1>
        <a href="{% url 'edu' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-backward fa-sm text-white-50"></i>
            Go Back
        </a>
    </div>
    <!-- End Page Heading -->

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <!-- Category form -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row">
            <div class="col-sm-6">
                <h6 class="m-0 font-weight-bold text-primary">
                    Education
                </h6>
            </div>
            <div class="col-sm-6">    
            </div>
          </div>
        </div>
        <div class="card-body">
            <form id="personForm" action="" method="POST" enctype="multipart/form-data" 
            data-cities-url="{% url 'ajax_load_edusubcat' %}" data-edu-url="{% url 'ajax_load_edusubjects' %}">
                {{ forms.media }}
                {{ forms|crispy }}
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="submit" value="Save" 
                            class="btn btn-light btn-outline-info btn-sm rounded">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block mycustomjs %} 
<script>
    $("#id_category").change(function () {
        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const educstId = $(this).val();  // get the selected country ID from the HTML input

        if(educstId != null){

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'educstId': educstId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    //$("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                

                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (edusubcat) {
                        html_data += `<option value="${edusubcat.id}">${edusubcat.category_name}</option>`
                    });
                    console.log(html_data);
                    $("#id_sub_category").html(html_data);

                }
            });
        } else {
            $("#id_sub_category").html('<option value="">---------</option>');
        }
    });
    $("#id_sub_category").change(function () {
        const url = $("#personForm").attr("data-edu-url");  // get the url of the `load_cities` view
        const edusubid = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'edusubid': edusubid       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                //$("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
              

                let html_data = '<option value="">---------</option>';
                data.forEach(function (edusubject) {
                    html_data += `<option value="${edusubject.id}">${edusubject.subject_name}</option>`
                });
                console.log(html_data);
                $("#id_subject").html(html_data);

            }
        });

    });
</script>
{% endblock %}