<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Bhim Connect - For Connecting India power of knowladge" />
  <meta name="keywords" content="bhim connect,bhim,knowladge,education,news,events,academic,competative,neet,jee,science,blog,events,community,charity" />
  <meta name="author" content="Vincode Technology" />
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="pragma" content="no-cache">

  <title>{% block title %} {% endblock %}</title>
  <link href="{% static 'website_assets/images/favicon.ico' %}" rel="shortcut icon" type="image/ico">

  <!-- Custom fonts for this template-->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    {% block content %}
    {% endblock %}

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>

</body>

</html>
